# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
*.tsbuildinfo

# Env / secrets
.env
.env.*
!.env.example

# Local dev Postgres cluster (created by dev setup)
sms-pgdata/
*.pgdata/

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
